html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #2196f3;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mb-5 {
  margin-bottom: 50px;
}
.mb-4 {
  margin-bottom: 40px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-1 {
  margin-bottom: 10px;
}

.mt-5 {
  margin-top: 50px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-1 {
  margin-top: 10px;
}

.font-title {
  color: $default-blue;
}

.error-form {
  margin-left: 2px;
  color: $default-red;
}
